<div class="modal-header">
  <h5 class="modal-title">Register to RentHub</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="mb-3">
      <label for="name" class="form-label">Full Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
      <div
        class="text-danger small"
        *ngIf="
          signupForm.get('name')?.touched && signupForm.get('name')?.invalid
        "
      >
        Name is required
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="text-danger small"
        *ngIf="
          signupForm.get('email')?.touched && signupForm.get('email')?.invalid
        "
      >
        Enter a valid email
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
      <div
        class="text-danger small"
        *ngIf="
          signupForm.get('password')?.touched &&
          signupForm.get('password')?.invalid
        "
      >
        Minimum 6 characters
      </div>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role</label>

      <select id="role" class="form-select" formControlName="role">
        <option value="2">Renter</option>
        <option value="1">Landlord</option>
      </select>
    </div>

    <app-button
      label="Create Account"
      variant="primary"
      [size]="'sm'"
      [block]="true"
      type="submit"
      class="w-100"
      [disabled]="signupForm.invalid"
    ></app-button>
  </form>
</div>
