<div class="text-center pt-4">
  <h2>Featured Properties</h2>
  <p>Handpicked premium listings just for you</p>
</div>
<div class="row p-3">
  <div *ngFor="let property of featuredProperties()" class="col-md-4 mb-4">
    <app-apartment-card
      [activeUser]="activeUser"
      [property]="property"
      (togglefavClick)="togglefavClick($event)"
      [favorites]="favorites()"
      (sendEnquiryClick)="sendEnquiry($event)"
      [amenitiesMap]="amenities"
    ></app-apartment-card>
  </div>
</div>

<app-property-filter
  (filtersChanged)="filtersChanged($event)"
></app-property-filter>
<div class="border-1 border-secondary rounded row p-3">
  <h2>{{ properties().length }} Properties Available</h2>
  <div *ngFor="let property of properties()" class="col-md-4 mb-4">
    <app-apartment-card
      [activeUser]="activeUser"
      [property]="property"
      (togglefavClick)="togglefavClick($event)"
      [favorites]="favorites()"
      (sendEnquiryClick)="sendEnquiry($event)"
      [amenitiesMap]="amenities"
    ></app-apartment-card>
  </div>
</div>
