<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['home']">
      <span>
        <i class="fa-solid fa-house"></i>
      </span>
      <span>Rent Hub</span></a
    >

    <div class="input-group w-50" *ngIf="isHomePage">
      <span class="input-group-text bg-white border-end-0">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        [value]="searchService.searchTerm()"
        (input)="searchService.searchTerm.set($any($event.target).value)"
        class="form-control border-start-0"
        placeholder="Search properties..."
        aria-label="Search"
      />
    </div>

    <div class="d-flex justify-content-between gap-3">
      <ng-container *ngIf="!authService.isLoggedIn()">
        <app-button
          label="Login"
          variant="primary"
          [size]="'sm'"
          (clicked)="login()"
        ></app-button>
        <app-button
          label="Sign Up"
          variant="primary-outline"
          [size]="'sm'"
          (clicked)="signUp()"
        ></app-button>
      </ng-container>
      <ng-container *ngIf="authService.isLandLord()">
        <app-button
          label="Post Property"
          variant="primary"
          (clicked)="postProperty()"
          icon="fa-solid fa-plus"
        ></app-button>
      </ng-container>
      <ng-container *ngIf="authService.isLoggedIn()">
        <div class="d-flex align-items-center justify-content-end">
          <div ngbDropdown placement="bottom-end" class="dropdown">
            <button
              class="btn btn-outline-secondary"
              id="profileDropdown"
              ngbDropdownToggle
            >
              <i class="fas fa-user"></i>
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="profileDropdown"
              class="dropdown-menu-end"
            >
              <div class="dropdown-item-text">
                <strong>{{ authService.currentUser()?.name }}</strong
                ><br />
                <small class="text-muted">{{
                  authService.currentUser()?.email
                }}</small>
              </div>
              <div class="dropdown-divider"></div>
              <app-button
                class="dropdown-item"
                variant="link"
                label="Logout"
                (clicked)="logout()"
                [btnClasses]="['text-decoration-none']"
                ><i class="fas fa-sign-out-alt me-2"></i
              ></app-button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
