<div class="modal-header d-flex justify-content-between align-items-start">
  <div>
    <h5 class="modal-title">Send Enquiry</h5>
  </div>
  <app-button
    type="button"
    variant="close"
    [size]="'sm'"
    (clicked)="close()"
  ></app-button>
</div>
<div class="modal-body container mt-5">
  <!-- <h2>Send Enquiry</h2> -->

  <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name" />
      <div *ngIf="enquiryForm.get('name')?.invalid && enquiryForm.get('name')?.touched" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" />
      <div *ngIf="enquiryForm.get('email')?.invalid && enquiryForm.get('email')?.touched" class="text-danger">
        Valid email is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea formControlName="message" class="form-control" rows="4" id="message"></textarea>
      <div *ngIf="enquiryForm.get('message')?.invalid && enquiryForm.get('message')?.touched" class="text-danger">
        Message is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="enquiryForm.invalid">Submit</button>
  </form>
</div>
